<div class="clear"></div>
<div id="tail">
  <div class="container_12">
    Optidemo - An asset optimization 101 &bull; Developed by <%= link_to("Mike", "http://twitter.com/emikebr") %> &bull; 2012
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>