<%= render partial: "shared/header" %>
<%= render partial: "shared/slider" %>

<div class="clear"></div>
 <!-- Main Section -->
<div id="content" class="shadow">
  <div class="container_12 testimonials">
  <span class="testimonial-message">&ldquo;Anybody who’s built a website of any size knows how quickly CSS can get out of hand. Style sheets can grow bloated and lengthy, 
    making it difficult to find things, introducing redundancy and producing an end product that makes code maintenance tedious. 
    Let’s face it — CSS is not very well-designed.&rdquo;</span> - <%= link_to("Mashable", "http://mashable.com/2011/06/14/compass-css-guide/") %>
  </div>
  <div class="clear"></div>
  <div class="container_12">
    <div class="grid_6"><h1>Sass</h1>
    <p>Sass is a meta-language on top of CSS that’s used to describe the style of a document cleanly and structurally, with more power than flat CSS allows. 
      Sass both provides a simpler, more elegant syntax for CSS and implements various features that are useful for creating manageable stylesheets.</p>
    </div>
    <div class="grid_6"><h1>Compass</h1>
    <p>Compass is an open-source CSS Authoring Framework. Sass is an extension of CSS3 which adds nested rules, variables, mixins, selector inheritance, and more. 
      Sass generates well formatted CSS and makes your stylesheets easier to organize and maintain.</p>
    </div>
  </div>
  <div class="clear"></div>
</div>
 <!-- End of Main Section -->
 
<%= render partial: "shared/footer" %>