<%= render partial: "shared/header" %>

<!-- Main Section -->
<div class="main-section">
  <div class="container_12 ">
    <div class="grid_9">
    <h1>Videos on Sass</h1>
    <p>
      <iframe width="420" height="315" src="http://www.youtube.com/embed/opj1hV2b3gA" frameborder="0" allowfullscreen></iframe>
    </p>
    
    <h1>Videos on Compass</h1>
    <p>
      <iframe src="http://player.vimeo.com/video/4335944?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><a href="http://vimeo.com/4335944">Compass: A Real Stylesheet Framework</a> from <a href="http://vimeo.com/user1651762">Chris Eppstein</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
    </p>
    </div>

    <div id="sidebar" class="grid_3">
      <p>Links with helpful resources.</p>
      <h1>Sass</h1>
      <ul>
        <li><a href="#">Test link 1</a></li>
        <li><a href="#">Test link 2</a></li>
        <li><a href="#">Test link 3</a></li>
        <li><a href="#">Test link 4</a></li>
      </ul>

      <h1>Compass</h1>
      <ul>
        <li><a href="#">Test link 1</a></li>
        <li><a href="#">Test link 2</a></li>
        <li><a href="#">Test link 3</a></li>
        <li><a href="#">Test link 4</a></li>
      </ul>
      
      <h1>Image Compression</h1>
      <ul>
        <li><a href="#">Test link 1</a></li>
        <li><a href="#">Test link 2</a></li>
        <li><a href="#">Test link 3</a></li>
        <li><a href="#">Test link 4</a></li>
      </ul>
    </div>
  <div class="clear"></div>
  </div>
</div>
<!-- End of Main Section -->

<%= render partial: "shared/footer" %>